.slider-container {
  width: 200px;
  height: 10px;
  background-color: #ccc;
  position: relative;
}

#slider {
  width: 10px;
  height: 20px;
  background-color: #f00;
  position: absolute;
  top: -5px;
  left: 0;
  cursor: pointer;
}

.fall-off {
  background-color: #000;
}
